---
import Layout from '../layouts/Layout.astro';
import Counter from '../components/Counter.astro';
---

<Layout title="Boda Carli y Leo">
	<main>
		<section>
			<p>"PORQUE ES MEJOR SER DOS QUE UNO, PORQUE AMBOS PUEDEN AYUDARSE MUTUAMENTE A LOGRAR EL ÉXITO"</p>
			<p class="text-right text-xs"><span>Eclesiastés 4:9</span></p>
		</section>
		<section class="wedding-counter text-white">
			<h2 class="mb-2"><span>¡Contando los días!</span></h2>
			<Counter />
		</section>
		<section>
			<p>HAY MOMENTOS EN LA VIDA QUE SON ESPECIALES, PERO SIN LUGAR A DUDA EL HECHO DE PODER COMPARTIR
				JUNTO A USTEDES NUESTRO FELIZ COMIENZO, LO CONVIERTE EN UN DÍA INOLVIDABLE.
			</p>
		</section>
		<section>
			<div>
				<!-- GIF -->
			</div>
			<div>
				<p>VIERNES <br> 10 DE MAYO</p>
				<p>FORTÍN RIVADAVIA 3050 <br> SALÓN MY LIFE</p>
				<p>21:00 HS <br> (SE RUEGA PUNTUALIDAD)</p>
			</div>
			<p>Ver ubicación</p>
		</section>
		<section>
			<!-- Imagen circular -->
		</section>
		<section>
			<h2>IMPORTANTE</h2>
			<p>Llevar bebida de su preferencia</p>
			<div>
				<!-- GIF -->
			</div>
			<p>¿QUÉ MÚSICA TE GUSTARÍA BAILAR?</p>
			<p>Agregar canciones</p>
		</section>
		<section>
			<h2>Obsequios</h2>
			<p>LA CASA ESTÁ ARMADA, ASÍ QUE NO SE COMPLIQUEN; AHORA SI QUIEREN COLABORAR CON LA LUNA DE MIEL
				PUEDEN HACERLO MEDIANTE UNA TRANSFERENCIA A LA SIGUIENTE CUENTA:
			</p>
			<p>CBU: 3110030211003044583030</p>
			<p>ALIAS: CARLADANIELAGALARZA</p>
		</section>
	</main>
</Layout>

<style>
	section {
		margin-bottom: 15vh;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.wedding-counter {
		background-color: #C69C6D;
		padding: 2rem 3rem;
	}
</style>
