---
import Layout from '../layouts/Layout.astro';
import Counter from '../components/Counter.astro';
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import ringGif from '../images/gifs/anillo.gif';
import musicGif from '../images/gifs/musica.gif';
import giftGif from '../images/gifs/regalo.gif';
import newlyweds from '../images/newlyweds.webp';
---

<Layout title="Boda Carli y Leo">
	<main>
		<section>
			<p class="text-lg">"PORQUE ES MEJOR SER DOS QUE UNO, PORQUE AMBOS PUEDEN AYUDARSE MUTUAMENTE A LOGRAR EL ÉXITO"</p>
			<p class="text-right text-base"><span>Eclesias tés 4:9</span></p>
		</section>
		<section class="wedding-counter text-white text-2xl">
			<h2 class="mb-2"><span>¡Con tando los días!</span></h2>
			<Counter />
		</section>
		<section>
			<p class="text-lg">HAY MOMENTOS EN LA VIDA QUE SON ESPECIALES, PERO SIN LUGAR A DUDA EL HECHO DE PODER COMPARTIR
				JUNTO A USTEDES NUESTRO FELIZ COMIENZO, LO CONVIERTE EN UN DÍA INOLVIDABLE.
			</p>
		</section>
		<section>
			<div class="flex justify-center">
				<Image src={ringGif} alt="Gif anillo"/>
			</div>
			<div class="flex items-center wedding-info">
				<p class="flex-1">VIERNES<br>10 DE MAYO </p>
				<p class="flex-1 px-1 border-x border-x-black">FORTÍN RIVADAVIA 3050<br>SALÓN MY LIFE</p>
				<p class="flex-1">DE 21 A 4 HS <br> (SE RUEGA PUNTUALIDAD)</p>
			</div>
			<Button href='https://maps.app.goo.gl/iMiSNNfKpq9X7uAh7' text='ver ubicación'>
		</section>
		<section>
			<div class="flex justify-center brush-newlyweds">
				<Image src={newlyweds} alt="Novios" class="rounded-full size-40"/>
			</div>
			<h2 style="color: #C69C6D;" class="mt-5 text-4xl">IMPORTANTE</h2>
			<p class="text-lg"><span>Llevar bebida de su preferencia</span></p>
			<div class="flex justify-center">
				<Image src={musicGif} alt="Gif anillo" class="w-20 mt-5"/>
			</div>
			<p class="text-lg">¿QUÉ MÚSICA TE GUSTARÍA BAILAR?</p>
			<Button href='https://youtube.com/playlist?list=PLPrToFikzDI1zx66KCqodDjKvGBA91WxU&si=E8FkvLWaZVthVQHM' text='agregar canciones'>
		</section>
		<section>
			<div class="flex items-center justify-center">
				<Image src={giftGif} alt="Gif anillo" class="w-14"/>
				<h2 class="text-3xl"><span>Obsequios</span></h2>
			</div>
			<p class="text-lg mt-2">LA CASA ESTÁ ARMADA, ASÍ QUE NO SE COMPLIQUEN; AHORA SI QUIEREN COLABORAR CON LA LUNA DE MIEL
				PUEDEN HACERLO MEDIANTE UNA TRANSFERENCIA A LA SIGUIENTE CUENTA:
			</p>
			<p class="text-xl">CBU:<br>3110030211003044583030</p>
			<p class="text-xl">ALIAS:<br>CARLADANIELAGALARZA</p>
		</section>
	</main>
</Layout>

<style>
	section {
		margin-bottom: 15vh;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	.brush-newlyweds {
        background-image: url("../images/brush-newlyweds.webp");
        background-position: center;
        background-repeat: no-repeat;
		background-size: contain;
    }

	.wedding-counter {
		background-color: #C69C6D;
		padding: 2rem 3rem;
	}

	.wedding-info {
		font-size: 0.70rem;
		line-height: 1rem;
	}

	@media only screen and (max-width: 768px) {
        section {
            margin-bottom: 5vh;
	    }

		.wedding-info {
			font-size: 0.9rem;
			line-height: 1rem;
		}
    }
</style>
