---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Boda Carli y Leo">
	<main class="px-12">
		<p class="text-center">"PORQUE ES MEJOR SER DOS QUE UNO, PORQUE AMBOS PUEDEN AYUDARSE MUTUAMENTE A LOGRAR EL ÉXITO"</p>
		<p class="text-right">Eclesiastés 4:9</p>
	</main>
</Layout>
