<footer>
    <p class="text-xs mt-2"><span>Confirmar Asistencia Hasta</span></p>
    <p>15 DE ABRIL</p>
</footer>

<style>
	footer {
        background-color: #C69C6D;
        color: #fff;
        padding: 0.5rem 0;
	}
</style>