<footer class="p-1.5 text-white">
    <p class="text-lg mt-2 scroll-reveal"><span>Confirmar Asis tencia Has ta</span></p>
    <p class="text-3xl scroll-reveal">15 DE ABRIL</p>
    <div class="flex items-center justify-center pt-[2vw]">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSezQUpp3IVvbcCasF40J33a0LtUfq_snbJgp1GtpJdqXdX5Dg/viewform?usp=sf_link" target="_blank">
            <div class="rounded-button">
                <span class="button-text">Confirmar asistencia</span>
            </div>
        </a>
    </div>
    <div class="ending"></div>
    <p class="text-right text-[2vh]"><span>Desarrollado con ♥ por </span><a href="https://www.linkedin.com/in/miguemat4" target="_blank">MFMC</a></p>
</footer>

<style>
	footer {
        background-color: #C69C6D;
        padding-top: 0.8rem;
	}

    .rounded-button {
        background-color: #fff;
        border-radius: 30px;
        color: #C69C6D;
        cursor: pointer;
        font-size: 5vw;
        height: 15vw;
        width: 70vw;
    }

    .button-text {
        display: flex;
        font-family: 'LucyRose';
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .ending {
        height: 10vh;
    }
</style>