<footer>
    <p class="text-lg mt-2 scroll-reveal"><span>Confirmar Asis tencia Has ta</span></p>
    <p class="text-3xl scroll-reveal">15 DE ABRIL</p>
</footer>

<style>
	footer {
        background-color: #C69C6D;
        color: #fff;
        padding: 0.8rem 0;
	}
</style>