<header class="flex flex-col justify-center mb-8">
    <div class="header-photo"></div>
    <h1 class="text-3xl">Carla<span class="text-sm">&</span>Leonardo</h1>
    <p><span>¡Nos casamos!</span></p>
</header>

<style>
	.header-photo {
        background-image: url("https://images.pexels.com/photos/2253870/pexels-photo-2253870.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        margin-bottom: 2rem;
	}
</style>