---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Sitio web de la boda de Carli Galarza y Leo Aguirre." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light;
	}

	@font-face {
		font-family: 'LucyRose';
  		src: url('../../public/fonts/lucyrosepersonal-regular-webfont.woff') format('woff');
  		font-weight: normal;
  		font-style: normal;
  		font-display: swap;
	}

	@font-face {
		font-family: 'BritishCastilla';
  		src: url('../../public/fonts/british_castilla-webfont.woff') format('woff');
		font-weight: normal;
  		font-style: normal;
		  font-display: swap;
	}

	html {
		font-family: 'LucyRose';
		font-size: 4.5vw;
	}

	body {
		background: #fff;
		color: #000;
		text-align: center;
	}

	span {
		font-family: 'BritishCastilla';
	}
</style>
